body {
    color: black;
    width: 640px;
    margin: auto;
    background-color: #ced8e8;
    font-family: Helvetica, sans-serif;
}

#content-wrapper {
    background-color: white;
    
}

.section {
    border-bottom: 2px solid lightgray;
    padding: 1rem;
}

.section h2 {
    text-align: center;
}

.caption {
    text-align: center;
}

#top-banner {
    background-image: url(../images/banner_img.jpg);
    background-repeat: no-repeat;
    height: 360px;
    color: rgb(0, 0, 0);
    margin: auto;
    text-align: center;
    font-weight: bold;
}

#top-banner h1 {
    font-size: 300%;
    color: yellow;
    text-shadow: 3px 3px black;
    margin-bottom: 0;
}

#top-banner h2 {
    margin-top: 0;
    color: white;
    font-weight: bold;
}

.change {
    margin-top: 0;
}

#instructor-wrapper li {
    padding-bottom: 1rem;
    font-weight: bold;
}

#instructor-wrapper p {
    font-style: italic;
}

#contact-wrapper {
    background-color: black;
    color: yellow;
    text-align: center;
}


